header{
    width: 100%    ;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(56, 53, 53);
    text-shadow: 0.2em 0.2em black;
}


header h1 {
    padding: 60px ;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #fdfdfd;
    text-shadow: 50px;
}
.caixa {
    display: flex;
    width: 940px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.caixa label {
    line-height: 1.5;
    font-weight: bold;
    display: block;
    


    
}
#salario {
    width: 300px;
}
.botao-calcula {
    margin: 10px 0 4px 0;
}

#resultado {
    font-size: 20px;
}

.rodape  {
    width: 100vw;
    height: 12rem;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(56, 53, 53);
}
.rodape-conteudo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.direitos {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.lista-social {
    display: flex;
    width: 10%;
    margin-top: 10px;
    
}
.social {
    margin-left: 10px;
}

@media(min-width: 0px) {
.topo {
    width: 99%;
}
.caixa {
    width: 99%;
    height: 150px;
    border: 2px solid rgb(56, 53, 53);
    margin-bottom: 500px;
}
}